<h1>Photos</h1>
<table>
	<thead>
		<tr>
			<th>Pic</th>
			<th>Category</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @photos.each do |photo| %>
			<tr>
				<td><%= photo.pic %></td>
				<td><%= photo.category %></td>
				<td><%= photo.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Add Your Image', new_photo_path %>
