<h1>Image</h1>

<p><strong>Pic:</strong> <%= @photo.pic %></p>
<p><strong></strong> <%= @photo.category %></p>
<p><strong></strong> <%= @photo.description %></p>

<%= link_to 'Back to Your Current Image Cat', photos_path %>